{% extends 'base.html' %}

{% block Title %}Pehchan E-Learning | Home{% endblock Title %}

{% block Body %}
<div class="col-12 content">
    <h1 class="text-center">Pehchan E-Learning</h1><br><br>
    <div class="container">
        <h2 class="text-center title">Automated Attendance System</h2><br>
        <p class="text-center">An automated, accurate, fast, modern and a no-touch approach of marking attendance.</p>
        <div class="click"><a href="/attendance" class="btn btn-primary">Click Here</a></div>
    </div>
    <br>
    <div class="row init">
        <div class="col-md-3">
            <img src="static/attendance.jpg" alt="attendance">
        </div>
        <div class="col-md-6">
            <div class="arc-out3">
                <div class="arc-out2">
                    <div class="arc-out1">
                        <div class="arc-center"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="static/multiple_face_recog.png" alt="alert">
        </div>
    </div>
    <p class="container text-center">‘Pehchan E- Learning’ as the name suggests, is used to recognise single or multiple
        faces at an instance of time in a closed environment. This technology can be used at colleges and offices to
        mark the attendances of student and employees accurately.
        The face recognition performance with ‘Pehchan’ improves with its use as a layer in a deep
        neural network, which yields a robust classification for heterogeneous face recognition with respect to the
        state-of-the art methods.
    </p>
    <h2 class="text-center">Motivation</h2>
    <ul class="container text-center">
        <li>It is often seen in colleges, taking and tracking attendance of students and professors becomes a
            time-taking job using the traditional approach. Also, it isn't very accurate as anyone can tamper the data.
            To save this valuable time and effort, this system is developed.
        </li><br>
        <li>To further reduce the time spent to mark attendance, a multiple face recognition system comes to play which
            not
            only marks attendance in a classroom or office space but also provides the data in such a format that can be
            used
            by organisations to display it on their web portal.
        </li>
    </ul>
    <h2 class="text-center">Team Members</h2>
    <div class="container">
        <div class="row group">
            <div class="col-md-4">
                <img src="static/ankit.png" alt="ankit roy">
                <div class="details">
                    <p class="text-center font-weight-bold">Ankit Roy</p>
                    <p class="text-center">Reg. No.: 1801298043</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="static/mohit.png" alt="mohit anand">
                <div class="details">
                    <p class="text-center font-weight-bold">Mohit Anand</p>
                    <p class="text-center">Reg. No.: 1921298030</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="static/srimanta.png" alt="srimanta gangopadhyay">
                <div class="details">
                    <p class="text-center font-weight-bold">Srimanta Gangopadhyay</p>
                    <p class="text-center">Reg. No.: 1801298364</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Body %}

{% block Script %}{% endblock Script %}